USE [master]
GO
/****** Object:  Database [CallCenter]    Script Date: 13/3/2018 6:10:16 p.m. ******/
CREATE DATABASE [CallCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CallCenter', FILENAME = N'C:\Users\FREDCOM-PC\CallCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CallCenter_log', FILENAME = N'C:\Users\FREDCOM-PC\CallCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CallCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CallCenter]
GO
USE [CallCenter]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 13/3/2018 6:10:16 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[cedula] [varchar](10) NOT NULL,
	[nombreCompleto] [varchar](60) NOT NULL,
	[pin] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 13/3/2018 6:10:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Cedula] [varchar](10) NOT NULL,
	[FechaPago] [datetime] NOT NULL,
	[Monto] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ConsultaPagosCliente]    Script Date: 13/3/2018 6:10:17 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

   /*ConsultaPagosCliente
   Debe devolver Nombre Completo, Fecha de Pago, Monto*/


   CREATE PROCEDURE [dbo].[ConsultaPagosCliente] 
		@Cedula VARCHAR(10)
   AS

   BEGIN
   /*
		Autor: Ernesto Contreras

		Sintáxis:
			Para un cliente
				exec  ConsultaPagosCliente '1-60-935'

			Todos
			exec  ConsultaPagosCliente ''

   */
   SELECT C.nombreCompleto , P.FechaPago , P.Monto
     FROM Cliente AS C
	 INNER JOIN Pagos AS P
			ON P.Cedula = c.cedula

	WHERE c.cedula =  CASE WHEN @Cedula  = '' THEN c.cedula ELSE @Cedula END

	ORDER BY   C.nombreCompleto, P.FechaPago

   END



   
GO
USE [master]
GO
